<script>if (typeof(window.layout) == "undefined") { location.href = "/"; }</script>

div#chatpage(data-role="page")
  include header
 
  div(data-role="ui-content")
    ul#chat-messages(data-role="listview")
    div#chat-input
      label(for="chat-message") Text input:
      input(type="text", name="chat-message", id="chat-message", value="")
      button#chat-send-message.ui-btn Send

  include panel
