<script>if (typeof(window.layout) == "undefined") { location.href = "/"; }</script>

div#groupphrasespage(data-role="page")
  include header

  div(data-role="ui-content")
    ul#groupphrases-groupphrases(data-role="listview")

  div(id="vote", data-role="popup", data-theme="a", data-overlay-theme="b", class="ui-content", style="max-width:340px; padding-bottom:2em;") 
    a(href="index.html", data-rel="back", data-iconpos="top", id="vote-up", class="ui-shadow ui-btn ui-corner-all ui-icon-arrow-u ui-btn-icon-top  vote-up") up
    a(href="index.html", data-rel="back", data-iconpos="bottom", id="vote-down", class="ui-shadow ui-btn ui-corner-all ui-icon-arrow-d ui-btn-icon-bottom  vote-down") down

  include panel
