div#header(data-role='header')
  a(href="#nav-panel", data-icon="bars", data-iconpos="notext", class="ui-btn-right", title="Menu")
    span.ui-btn-inner
      span.ui-btn-text TRIA
      span.ui-icon.ui-icon-bars.ui-icon-shadow &nbsp;
script.
  $("div#header").sticky({topSpacing:0});

