doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title="Reflektor"
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/js/jquery-mobile/jquery.mobile-1.4.4.min.css')
    block js
      <script>window.layout = true;</script>
      <script>window.base_server_url = "#{base_server_url}";</script>
      <script src="js/lib/jquery.min.js"></script>
      <script src="js/lib/jquery.sticky.js"></script>
      <script src="js/jquery-mobile/jquery.mobile-1.4.4.min.js"></script>
      <script src="js/lib/underscore-min.js"></script>
      <script src="js/lib/backbone.js"></script>
      <script src="js/lib/backbone-relational.js"></script>
      <script src="js/lib/backbone.marionette.min.js"></script>
      <script src="js/app.js"></script>
      <script src="#{base_server_url}/client/config.js"></script>
      <script src="js/app/models/profile.js"></script>
      <script src="js/app/models/message.js"></script>
      <script src="js/app/models/account.js"></script>
      <script src="js/app/models/groupphrase.js"></script>
      <script src="js/app/models/personalphrase.js"></script>
      <script src="js/app/models/vote.js"></script>
      <script src="js/app/views/groupphrases/list.js"></script>
      <script src="js/app/views/personalphrases/list.js"></script>
      <script src="js/chat.js"></script>
    block content
      body
