div#nav-panel(data-role="panel", data-position="right", data-display="reveal", data-theme="a")
  ul
    li
      if pagename == "chat"
        a(href="/chat", data-icon="grid", class="ui-btn ui-shadow ui-corner-all ui-state-disabled") Chat
       else
        a(href="/chat", data-icon="grid", class="ui-btn ui-shadow ui-corner-all") Chat
    li
      if pagename == "personalphrases"
        a(href="/personalphrases", data-icon="gear", class="ui-btn ui-shadow ui-corner-all ui-state-disabled") My Phrases
      else
        a(href="/personalphrases", data-icon="gear", class="ui-btn ui-shadow ui-corner-all") My Phrases
    li
      if pagename == "groupphrases"
        a(href="/groupphrases", data-icon="star", class="ui-btn ui-shadow ui-corner-all ui-state-disabled") Group Phrases
      else
        a(href="/groupphrases", data-icon="star", class="ui-btn ui-shadow ui-corner-all", id="group-coloring") Group Phrases
    li
      if pagename == "profile"
        a(href="/profile", data-icon="gear", class="ui-btn ui-shadow ui-corner-all ui-state-disabled") Log In
      else
        a(href="/profile", data-icon="gear", class="ui-btn ui-shadow ui-corner-all") Log In

