<script>if (typeof(window.layout) == "undefined") { location.href = "/"; }</script>

div#personalphrasespage(data-role="page")
  include header

  div(data-role="ui-content")
    ul#personalphrases-personalphrases(data-role="listview")
  
  div(id="share", data-role="popup", data-theme="a", data-overlay-theme="b", class="ui-content", style="max-width:340px; padding-bottom:2em;")
    a(href="index.html", data-rel="back", data-iconpos="bottom", id="share-icon", class="ui-link ui-btn ui-icon-forward ui-btn-icon-bottom ui-shadow ui-corner-all share-phrase") share
    a(href="index.html", data-rel="back", data-iconpos="bottom", id="delete-icon", class="ui-link ui-btn ui-icon-delete ui-btn-icon-bottom ui-shadow ui-corner-all delete-phrase") delete
    

  include panel
