<script>if (typeof(window.layout) == "undefined") { location.href = "/"; }</script>

div#profilepage(data-role="page")
  include header

  div(data-role="ui-content")
    #flash
    label(for="profile-name") Your name:
    input(type="text", name="profile-name", id="profile-name", value="")
    button#save-name.ui-btn Save

  include panel
