body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


p#long-description_gp{

 width: 70%;
 max-height: 45px;
 overflow: hidden;
 text-overflow:ellipsis;
 font-family: Sans-Serif;
 white-space: normal;
}

p#long-description{
 font-family: Sans-Serif;
}
.question {
   
   font-weight: lighter;
}

#share-icon{
   font-weight: lighter;
}
#delete-icon{
   font-weight: lighter;
}

.questionVote + .ui-btn-icon-top::after{
    background-color: #64e7d6;
}
a#vote-up + .ui-btn-icon-bottom::after{
    background-color: #fc808c;
}

a.ui-btn.ui-btn-icon-right.ui-icon-carat-r::after{

  opacity: 0; 
}

.question + .ui-btn-icon-bottom::after{
    background-color: #32C4FC;
}
a#share-icon + .ui-btn-icon-bottom::after{
    background-color: #FF992A;
}

li.message div {
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 10px;
    padding: 10px;
    white-space : normal;

}

#img_hold{
  vertical-align: middle;
}

span#image_text{

    color: #696969;  
    display:inline-block;
    position: inherit;
    vertical-align: middle;
    padding-left: 1em !important;

}



.ui-li-icon{
max-width: 6em !important;
max-height: 6em !important;
}

#group-coloring{

   color: #333;
}

ul#chat-messages {
    overflow-y: scroll;
}
/*
div#recommendation {
    height: 135px;
}
*/

#header {
    height: 41px;
}

#bars-button {
    margin:7px;
}

.ui-panel-wrapper {
    height: 0px;
    min-height: 45px !important;
}

.ui-btn.ui-btn-icon-right.ui-icon-carat-r {
 /* test overwrite */ 
  background:#7f7f7f;
  background:rgba(0,0,0,0.0);


}
/*
   Bubble with an isoceles triangle
   This code is based on:
   http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css
   */
.triangle-isosceles {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  background:#f0f0f0; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f0f0f0));
  background:-moz-linear-gradient(#f9d835, #f0f0f0);
  background:-o-linear-gradient(#f9d835, #f0f0f0);
  background:linear-gradient(#f9d835, #f0f0f0);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.triangle-isosceles.left {
  background: #c8eaf4; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#c8eaf4), to(lightred));
  background:-moz-linear-gradient(#c8eaf4, lightred);
  background:-o-linear-gradient(#c8eaf4, lightred);
  background:linear-gradient(#c8eaf4, lightred);
}


/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-isosceles.top {
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#f9d835));
  background:-moz-linear-gradient(#f0f0f0, #f9d835);
  background:-o-linear-gradient(#f0f0f0, #f9d835);
  background:linear-gradient(#f0f0f0, #f9d835);
}

/* Variant : for left/right positioned triangle
------------------------------------------ */

.triangle-isosceles.left {
  margin-left:50px;
  background: #c8eaf4;
}

/* Variant : for right positioned triangle
------------------------------------------ */

/* #f0f0f0 */

.triangle-isosceles.right {
  margin-right:50px;
  background:#f0f0f0;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

/* creates triangle */
.triangle-isosceles:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#f0f0f0 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-isosceles.top:after {
  top:-15px; /* value = - border-top-width - border-bottom-width */
  right:50px; /* controls horizontal position */
  bottom:auto;
  left:auto;
  border-width:0 15px 15px; /* vary these values to change the angle of the vertex */
  border-color:#f0f0f0 transparent;
}

/* Variant : left
------------------------------------------ */

.triangle-isosceles.left:after {
  top:16px; /* controls vertical position */
  left:-49px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:10px 50px 10px 0;
  border-color:transparent #c8eaf4;
}

/* Variant : right
------------------------------------------ */

.triangle-isosceles.right:after {
  top:16px; /* controls vertical position */
  right:-49px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  left:auto;
  border-width:10px 0 10px 50px;
  border-color:transparent #f0f0f0;
}
